/* Navbar */

:root {
    --mainSpacing: 0.05rem;
    --primaryColor: #bde0fe;
    --darkBlue: #219ebc;
    --lightBlue: #e0fbfc;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainTransition: all 0.3s linear;
    --mainYellow: #faa307;
    --lightGray: rgba(58, 58, 55, 0.8);

}
*,
::before,
::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: var(--mainSpacing);
}

a {
    text-decoration: none;
}
.hero {
    position: relative;
    height: calc(100vh);
    background: url("../images/banner.jpg") center/cover no-repeat fixed;
}
.hero-banner {
    text-align: center;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--mainWhite);
}
.hero-banner h3 {
    font-size: 2rem;
}
.hero-banner h1 {
    font-size: 3rem;
}
.hero-banner a {
    display: block;
    width: 40%;
    margin-top: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.nav-center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: var(--lightBlue);
}

.nav-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 1rem;
    text-transform: capitalize;
    color: var(--mainBlack);
    font-size: 1.1rem;
    font-weight: 500;
    transition: var(--mainTransition);
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    text-align: center;
    display: inline;
}

#down {
    padding-left: .2rem;
}

.nav-link:hover {
    color: var(--darkBlue);
}

.nav-link:hover>ul {
    color: var(--mainBlack);
}

.nav-link-product {
    position: relative;
}

.nav-link-product:hover .sub-product-nav {
    opacity: 1;
    visibility: visible;
}

.sub-product-nav {
    opacity: 0;
    width: 300px;
    text-align: left;
    background: var(--lightBlue);
    list-style: none;
    position: absolute;
    left: -2rem;
    top: 4.5rem;
    z-index: 1000;
    visibility: hidden;
    transition: var(--mainTransition);
}

.sub-product-nav li {
    display: block;
    padding: 1rem 0 1rem 2rem;
    transition: var(--mainTransition);
}

.sub-product-nav li:hover {
    color: var(--darkBlue);
}

#nav-toggle {
    display: none;
}

.nav-icon {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: var(--mainBlack);
    transition: var(--mainTransition);
}

.nav-icon:hover {
    color: var(--darkBlue);
}
/* End of Navbar */
.contact {
	padding-top: 80px;
	padding-bottom: 50px;
}

.contact_widget {
	margin-bottom: 30px;
}

.contact_widget span {
	font-size: 36px;
	color: #7fad39;
}

.contact_widget h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-top: 18px;
}

.contact_widget p {
	color: #666666;
	margin-bottom: 0;
}
.map {
	height: 500px;
	position: relative;
}

.map iframe {
	width: 100%;
}

.map .map-inside {
	position: absolute;
	left: 50%;
	top: 160px;
	-webkit-transform: translateX(-175px);
	-ms-transform: translateX(-175px);
	transform: translateX(-175px);
}

.map .map-inside i {
	font-size: 48px;
	color: #7fad39;
	position: absolute;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translateX(-18px);
	-ms-transform: translateX(-18px);
	transform: translateX(-18px);
}

.map .map-inside .inside-widget {
	width: 350px;
	background: #ffffff;
	text-align: center;
	padding: 23px 0;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
	box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget:after {
	position: absolute;
	left: 50%;
	bottom: -30px;
	-webkit-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-6px);
	border: 12px solid transparent;
	border-top: 30px solid #ffffff;
	content: "";
	z-index: -1;
}

.map .map-inside .inside-widget h4 {
	font-size: 22px;
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
	list-style: none;
	font-size: 16px;
	color: #666666;
	line-height: 26px;
}
.contact__form__title {
	margin-bottom: 50px;
	text-align: center;
}

.contact__form__title h2 {
	color: #1c1c1c;
	font-weight: 700;
}

.contact-form {
	padding-top: 80px;
	padding-bottom: 80px;
}

.contact-form form input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 20px;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.contact-form form input::placeholder {
	color: #6f6f6f;
}

.contact-form form textarea {
	width: 100%;
	height: 150px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 20px;
	margin-bottom: 24px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding-top: 12px;
	resize: none;
}

.contact-form form textarea::placeholder {
	color: #6f6f6f;
}

.contact-form form button {
	font-size: 18px;
	letter-spacing: 2px;
}
.site-btn{
	border: none;
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px
}
/* Footer */
#footer {
    margin-top: -5rem;
    background: var(--lightBlue);
    display: flex;
    flex-direction: column;
}

.footer-item {
    flex: 0 0 calc(33.3333% - 2rem);
}

.footer-item h1 {
    font-size: 1rem;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-info{
    align-self: center;
}
.footer-info .logo{
    padding-bottom: 1.5rem;
}
.footer-info .info{
    font-size: 1rem;
    line-height: 2rem;
    color: var(--lightGray);
}
.footer-link{
    display: flex;
    flex-direction: column;
}

.footer-link .link {
    display: flex;
}

.footer-link .link .link-item {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 1rem;
    margin-right: 2rem;
}
.footer-link .link .link-item  a {
    color: var(--lightGray);
    font-size: 14px;
    line-height: 2rem;
}

.footer-mail{
    display: flex;
    flex-direction: column;
}
.footer-mail h2 {
    padding-bottom: 1rem;
}
.footer-mail h4 {
    font-weight: 500;
    padding-bottom: 1rem;
}
.footer-mail .input{
    width: 100%;
    display: flex;
}
.footer-mail .input input {
    flex: 0 0 70%;
    outline: none;
    border: 1px solid var(--darkBlue);
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 2.5rem;
}
.footer-mail .input button {
    flex: 0 0 30%;
    outline: none;
    border: none;
    background-color: var(--darkBlue);
    color: var(--mainWhite);
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}
.footer-mail .social{
    padding-top: 1rem;
}
.footer-mail .social a {
    color: var(--mainBlack);
    font-size: 2.5rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}

.footer-mail .social a:hover {
    color: var(--darkBlue);
}

.footer-bottom {
    padding: 2rem 3rem;
    border-top: 2px solid var(--mainBlack);
    text-align: center;
}
.footer-bottom p {
    font-size: 1.2rem;
}
/* End of Footer */


